.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
}

/* Estilo de la tarjeta (contenedor de la tabla) */
.card {
  width: 100%;
  color: white;
  background-color: #000000ab !important;
  transition: all 0.3s ease;
  margin-top: -1.5rem;
}

.content-shrink {
  margin-left: 310px !important;
  transition: margin-right 0.3s ease;
  width: calc(100% - 300px);
}

/* Bot贸n + de PrimeNG */
/* Botones PrimeNG base */
:host ::ng-deep .p-button,
:host ::ng-deep .btn-export,
:host ::ng-deep .btn-side-bottom,
:host ::ng-deep .btn-calendar,
:host ::ng-deep .btn-export-pdf {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border: none !important;
  backdrop-filter: blur(2px);
  transition: background-color 0.3s ease;
  border-radius: 8px !important;
}

:host ::ng-deep .p-button:hover,
:host ::ng-deep .btn-export:hover,
:host ::ng-deep .btn-side-bottom:hover,
:host ::ng-deep .btn-calendar:hover,
:host ::ng-deep .btn-export-pdf:hover {
  background-color: rgba(126, 126, 126, 0.5) !important;
  color: white !important;
  transform: scale(1.1);
}

/* Estilo global tabla */
:host ::ng-deep .p-datatable {
  color: white;
  backdrop-filter: blur(2px);
  border-radius: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.546);
  z-index: 600;
}

/* Cabecera */
:host ::ng-deep .p-datatable thead {
  background-color: rgba(0, 0, 0, 0) !important;
  backdrop-filter: blur(3px);
}

:host ::ng-deep .p-datatable thead th {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.546);
}

/* Cuerpo completo */
:host ::ng-deep .p-datatable tbody {
  background-color: transparent !important;
}

:host ::ng-deep .p-datatable tbody tr {
  background-color: transparent !important;
}

:host ::ng-deep .p-datatable tbody td {
  background-color: transparent !important;
  color: white !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Hover */
:host ::ng-deep .p-datatable tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.07) !important;
}

/* conos */
:host ::ng-deep .pi {
  color: white !important;
}

/* Tags */
:host ::ng-deep .p-tag {
  color: white !important;
}

/* Modal (di谩logo) */
:host ::ng-deep .p-dialog {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

:host ::ng-deep .sider-menu-container {
  position: absolute;
  width: 200px !important;
  min-width: 200px !important;
  max-width: 200px !important;
  left: 0;
  height: 10%;
  display: flex;
  flex-direction: column;
  z-index: 1200;
}

:host
  ::ng-deep
  .p-paginator
  .p-paginator-pages
  .p-paginator-page:not(.p-highlight):hover {
  color: white !important;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

/* -----------------Estilo bot贸n export----------------- */
:host ::ng-deep .btn-export {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border: none !important;
  backdrop-filter: blur(2px);
  transition: background-color 0.3s ease;
  border-radius: 8px !important;
}

:host ::ng-deep .btn-export:hover {
  background-color: rgba(126, 126, 126, 0.5) !important;
  transform: scale(1.1);
}

/* Estilo bot贸n export PDF fijo a la derecha */
:host ::ng-deep .btn-export-pdf {
  position: fixed !important;
  right: 2% !important;
  bottom: 7.7% !important;
  z-index: 1001 !important;
}

/* Estilo bot贸n calendario */
:host ::ng-deep .btn-calendar {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border: none !important;
  backdrop-filter: blur(2px);
  transition: background-color 0.3s ease;
  border-radius: 8px !important;
}

:host ::ng-deep .btn-calendar:hover {
  background-color: rgba(126, 126, 126, 0.5) !important;
  transform: scale(1.1);
}

/* -------------Div para todos los botones en general ---------------*/
.buttons-container {
  display: flex;
  left: 2%;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  flex-wrap: wrap;
  position: fixed;
  top: 85.5%;
  z-index: 900;
  margin-bottom: 2rem;
}

/* Estilos para bot贸n del sidebar */
:host ::ng-deep .btn-side-bottom {
  z-index: 900;
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border: none !important;
  backdrop-filter: blur(2px);
  transition: background-color 0.3s ease;
  border-radius: 8px !important;
}

:host ::ng-deep .btn-side-bottom:hover {
  background-color: rgba(126, 126, 126, 0.5) !important;
  transform: scale(1.1);
}
